<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ressapp/frontend/

    # If the request is for a file that doesn't exist, try appending .html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !\.[a-zA-Z0-9]{2,4}$
    RewriteRule ^([a-zA-Z0-9_-]+)$ $1.html [L]
</IfModule>
