.DS_Store
/composer.phar
/vendor/*
!/vendor/bin/
vendor/bin/*
!/vendor/bin/phpunit
.phpunit.cache/
/node_modules/
.env
.phpunit.result.cache
/public/storage
/storage/*.key
.env.*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/
/database/*.sqlite
/database/*.sqlite3
/deps/
.idea/
.vscode/
*.log
*.gz
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
*.tar.gz
/public/build/*
!public/build/manifest.json
!public/build/css/
!public/build/css/app.css
!public/build/js/
!public/build/js/app.js
/dist/

