@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "variables-mixins";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:hover, a:active, a:visited, a:focus{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, span, a, p{
    margin: 0;
}
ul, menu {
	list-style: none;
	padding: 0;
	margin: 0;
}
html, body {
	margin: 0;
	padding: 0;
}
header, main, footer, section, article {
	float: left;
	width: 100%;
}