@charset "utf-8";
/* CSS Document */
.landlord-page-wrap{
  padding:32px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
.landlord-page-wrap * {
  box-sizing: content-box;
}
.landlord-page-wrap label {
  margin-bottom: 0px;
}
.landlord-page-wrap input, .landlord-page-wrap textarea, .landlord-page-wrap select {
  color: #333333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 11px;
}

.landlord-page-wrap .hint-underline {border-bottom: 1px dotted #ccc; text-decoration: none;}

.landlord-page-wrap input.form-add-texfield-350 {
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding: 2px;
}

.landlord-page-wrap input.form-add-texfield-368 {
    width: 368px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding: 2px;
}

.landlord-page-wrap .label-style {
    line-height:26px;
    text-shadow:1px 1px 1px #fff;
    font-weight: normal;
    font-size:13px;
    }

#steps-wrap{
  margin:auto;
  /*height:320px;*/
    overflow:hidden;
  float:left;
  background:#fff; border:1px solid #d3d3d3;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding:16px;
  margin:5px 0 0;
}
#steps{
  width:inherit;
    overflow:hidden;
}
.step{
    float:left;
    width: inherit;
}
#content{overflow: hidden;
background:#fff; border:1px solid #d3d3d3;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding:16px;
  margin:0;}
#navigation{
    height:56px;
  clear:both;

}

#navigation ul{
    list-style:none;
  float:left;
  height:20px;
  margin: 12px 0px;
}
#navigation ul li{
  float:left;
    position:relative;
  height:20px;
  
}
#navigation ul li a{display:block; font-size:17px; color:#FFF; background-color:#9fa19f; text-decoration:none; padding:5px 9px; margin:0 3px 3px 0; line-height:12px; height:28px; text-align:center;}
#navigation ul li a:hover{text-decoration:none; background:#959595;}
#navigation ul li.selected a{display:block; font-size:17px; color:#FFF; background-color:#0094c9; text-decoration:none; padding:5px 9px; margin:0 3px 3px 0; line-height:12px; height:28px; text-align:center;}
.steps-icon-bg{border-bottom:1px solid #dadada; margin:0 0 32px 44px;}
span.step-icon, span.step-icon-active{
    position:absolute;
    top:62px;
    left:44px;
    width:32px;
    height:32px;
}


@media (min-width: 968px) and (max-width: 5000px) {
#navigation ul li a {width: 115px;}
#navigation ul li a.photoswidth {width: 190px;}
.add-prop-short-text {display: none;}
.add-prop-long-text {display: inline;}
  }

@media (min-width: 0px) and (max-width: 968px) {
#navigation ul li a {width: 85px;}
#navigation ul li a.photoswidth {width: 115px;}
.add-prop-short-text {display: inline;}
.add-prop-long-text {display: none;}
  }

/* STEPS 1, 2, 3 etc. in add and edit pages.  */

/* INACTIVE - ICONS WITHOUT ANY VALIDATION CHECK AND INACTIVE */

.tab1 span.step-icon{background:transparent url(../image/add-property/new-layout/icon-step1.gif) no-repeat top left;}
.tab2 span.step-icon{background:transparent url(../image/add-property/new-layout/icon-step2.gif) no-repeat top left;}
.tab3 span.step-icon{background:transparent url(../image/add-property/new-layout/icon-step3.gif) no-repeat top left;}
.tab4 span.step-icon{background:transparent url(../image/add-property/new-layout/icon-step4.gif) no-repeat top left;}
.tab5 span.step-icon{background:transparent url(../image/add-property/new-layout/icon-step5.gif) no-repeat top left;}
.tab6 span.step-icon{background:transparent url(../image/add-property/new-layout/icon-step6.gif) no-repeat top left;}


/* ACTIVE - ICONS WITHOUT ANY VALIDATION CHECK BUT ACTIVE TAB SHOWN*/

.tab1 span.step-icon-active{background:transparent url(../image/add-property/new-layout/icon-step1-active.gif) no-repeat top left;}
.tab2 span.step-icon-active{background:transparent url(../image/add-property/new-layout/icon-step2-active.gif) no-repeat top left;}
.tab3 span.step-icon-active{background:transparent url(../image/add-property/new-layout/icon-step3-active.gif) no-repeat top left;}
.tab4 span.step-icon-active{background:transparent url(../image/add-property/new-layout/icon-step4-active.gif) no-repeat top left;}
.tab5 span.step-icon-active{background:transparent url(../image/add-property/new-layout/icon-step5-active.gif) no-repeat top left;}
.tab6 span.step-icon-active{background:transparent url(../image/add-property/new-layout/icon-step6-active.gif) no-repeat top left;}


/* INACTIVE - SUCCESSFULLY VALIDATED ICONS, AND INACTIVE */
.tab1 span.checked{background:transparent url(../image/add-property/new-layout/icon-step1-app.gif) no-repeat top left;}
.tab2 span.checked{background:transparent url(../image/add-property/new-layout/icon-step2-app.gif) no-repeat top left;}
.tab3 span.checked{background:transparent url(../image/add-property/new-layout/icon-step3-app.gif) no-repeat top left;}
.tab4 span.checked{background:transparent url(../image/add-property/new-layout/icon-step4-app.gif) no-repeat top left;}
.tab5 span.checked{background:transparent url(../image/add-property/new-layout/icon-step5-app.gif) no-repeat top left;}
.tab6 span.checked{background:transparent url(../image/add-property/new-layout/icon-step6-app.gif) no-repeat top left;}


/* ACTIVE - SUCCESSFULLY VALIDATED ICONS, ACTIVE*/
.tab1 span.checked-active{background:transparent url(../image/add-property/new-layout/icon-step1-app-active.gif) no-repeat top left;}
.tab2 span.checked-active{background:transparent url(../image/add-property/new-layout/icon-step2-app-active.gif) no-repeat top left;}
.tab3 span.checked-active{background:transparent url(../image/add-property/new-layout/icon-step3-app-active.gif) no-repeat top left;}
.tab4 span.checked-active{background:transparent url(../image/add-property/new-layout/icon-step4-app-active.gif) no-repeat top left;}
.tab5 span.checked-active{background:transparent url(../image/add-property/new-layout/icon-step5-app-active.gif) no-repeat top left;}
.tab6 span.checked-active{background:transparent url(../image/add-property/new-layout/icon-step6-app-active.gif) no-repeat top left;}



/* INACTIVE - ERROR - FAILED VALIDATION, NOT ACTIVE TAB*/
.tab1 span.error{background:transparent url(../image/add-property/new-layout/icon-step1-error.gif) no-repeat top left;}
.tab2 span.error{background:transparent url(../image/add-property/new-layout/icon-step2-error.gif) no-repeat top left;}
.tab3 span.error{background:transparent url(../image/add-property/new-layout/icon-step3-error.gif) no-repeat top left;}
.tab4 span.error{background:transparent url(../image/add-property/new-layout/icon-step4-error.gif) no-repeat top left;}
.tab5 span.error{background:transparent url(../image/add-property/new-layout/icon-step5-error.gif) no-repeat top left;}
.tab6 span.error{background:transparent url(../image/add-property/new-layout/icon-step6-error.gif) no-repeat top left;}


/* ACTIVE - ERROR - FAILED VALIDATION, ACTIVE TAB */
.tab1 span.error-active{background:transparent url(../image/add-property/new-layout/icon-step1-error-active.gif) no-repeat top left;}
.tab2 span.error-active{background:transparent url(../image/add-property/new-layout/icon-step2-error-active.gif) no-repeat top left;}
.tab3 span.error-active{background:transparent url(../image/add-property/new-layout/icon-step3-error-active.gif) no-repeat top left;}
.tab4 span.error-active{background:transparent url(../image/add-property/new-layout/icon-step4-error-active.gif) no-repeat top left;}
.tab5 span.error-active{background:transparent url(../image/add-property/new-layout/icon-step5-error-active.gif) no-repeat top left;}
.tab6 span.error-active{background:transparent url(../image/add-property/new-layout/icon-step6-error-active.gif) no-repeat top left;}



span.checked, span.checked-active{
    position:absolute;
    top:62px;
    left:44px;
    width:32px;
    height:32px;
  z-index:0;
}
span.error, span.error-active{
    position:absolute;
    top:62px;
    left:44px;
    width:44px;
    height:32px;
  z-index:0;
}
#steps form fieldset{
    border:none;
    padding-bottom:20px;
}

h3.form-title{
  border-bottom: 1px solid #d3d3d3; color:#0094c9; font-size:17px; font-weight:normal; padding:5px;
width:1950px;
float:left; margin:0 auto 16px;
}
h3.form-title2{
  border-bottom: 1px solid #d3d3d3; color:#0094c9; font-size:17px; font-weight:normal; padding:25px 5px 5px;
width:1950px;
float:left; margin:0 auto 16px;
}
h3.form-title-sub{
  border-bottom: 1px solid #d3d3d3; color:#666; font-size:17px; font-weight:normal; padding:5px;
  width:1950px;
  float:left; margin:0 auto 16px;
}
.field-wrap{
    float:left;
    clear:both;
    margin:5px 0px;
    background-color:#f4f4f4;
    border:1px solid #fff;
  min-width:637px;
    padding:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  font-size:13px;
  color:#666;
}

.landlord-page-wrap a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
.landlord-page-wrap .field-wrap a{color:#666;}
.colour-dark, a.colour-dark:link, a.colour-dark:visited, a.colour-dark:active, .colour-dark a:link, .colour-dark a:visited, .colour-dark a:active {
    color: #090909;
}

.landlord-page-wrap td, .landlord-page-wrap tr {font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:12px; color:#5d5c5d;}

.landlord-page-wrap .form-text-area-99-percent-small, .landlord-page-wrap .form-text-area-99-percent-small textarea {
    width: 99%;
    height: 90px;
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding: 2px;
}

.landlord-page-wrap legend {
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    width: auto;
}

.landlord-page-wrap legend b {
  font-size: 12px;
  font-weight: normal;
}

.landlord-page-wrap #steps fieldset {
    border: 1px solid #dedede;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

.landlord-page-wrap legend {
    margin-bottom: 0px;
    border-bottom: none;
}

.landlord-page-wrap #content #steps #propertyForm .standardTab .field-wrap-flexible-simple table tbody tr td div fieldset table {width: 100%;}
.landlord-page-wrap #content #steps #propertyForm .standardTab .field-wrap-flexible-simple table tbody tr td .features-wrapper #features_div fieldset table tbody tr td {width: 50%;}

.landlord-page-wrap input[type="checkbox"] {
    margin: 3px;
}

#steps form .field-wrap label{
    width:160px;
    float:left;
    text-align:right;
    margin-right:15px;
    line-height:26px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight: normal;
  font-size:13px;
}
#steps form .field-wrap input,
#steps form .field-wrap textarea,
#landsize{
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    width: 209px;
    float:left;
}
#steps form .field-wrap select {width: 219px;}
#steps form input:focus{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background-color:#FFFEEF;
}
#steps form p.submit{
    background:none;
    border:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}


/* BUTTON STYLE - BLUE BUTTON FOR PREVIOUS */
button.form-top {
  border:none;
  outline:none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    display: block;
    cursor:pointer;
    margin: 0px auto;
    clear:both;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #777;
    font-size:13px;
    background:#4b5daa;
  float:left;
}
button:hover.form-top {
    background:#818dc3;
    color:#fff;
    text-shadow:1px 1px 1px #777;
}
/* BUTTON STYLE - RED BUTTON FOR NEXT */

button.next {
  border:none;
  outline:none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    display: block;
    cursor:pointer;
    margin: 0px auto;
    clear:both;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #777;
    font-size:13px;
    background:#0094c9 !important;
  float:left;
}
button:hover.next {
    background:#eb9f82 !important;
    color:#fff;
    text-shadow:1px 1px 1px #777;
}

/* BUTTON STYLE - GREEN BUTTON FOR FINISH*/
button.finish {
  border:none;
  outline:none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    display: block;
    cursor:pointer;
    margin: 0px auto;
    clear:both;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #777;
    font-size:13px;
    background:#0fab5b;
  float:left;
}
button:hover.finish {
    background:#63c995;
    color:#fff;
    text-shadow:1px 1px 1px #777;
}

/* BUTTON STYLE - WHITE BUTTON FOR CANCEL */
button.cancel {
  border:none;
  outline:none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #777;
    display: block;
    cursor:pointer;
    margin: 0px auto;
    clear:both;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #f1f1f1;
    font-size:13px;
    background:#e5e5e5;
  float:left;
}
button:hover.cancel {
    background:#f2f2f2;
    color:#777;
    text-shadow:1px 1px 1px #f1f1f1;
}



.form-expand-link {-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color:#f4f4f4; padding:5px 16px 5px 16px; width: 380px; display:block; color: #666;}
.form-expand-checkbox-add-ll2 {-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color:#fff; padding:5px 16px 5px 16px; width: 380px; display:block; color: #666;}

.form-checkbox-wrapper input {margin:0; width: 20px;}



.field-wrap-flexible{
    float:left;
    clear:both;
    margin:5px 0px;
    background-color:#f4f4f4;
    border:1px solid #fff;
  min-width:637px;
    padding:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  font-size:13px;
  color:#666;
}
.field-wrap-flexible a{color:#666;}
#steps form .field-wrap-flexible label{
    width:160px;
    float:left;
    text-align:right;
    margin-right:15px;
    line-height:26px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight: normal;
  font-size:13px;
}



#steps form .field-wrap-flexible input[type="text"], #uo_price {background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding: 5px;}

#steps form .field-wrap-flexible input.button-stretchy-red {
  border:none;
  outline:none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    display: block;
    cursor:pointer;
    margin: 0px auto;
    clear:both;
    padding: 0 16px 0 16px;
    text-shadow: 0 1px 1px #777;
    font-size:13px;
    background:#4b5daa;
  float:left;
  height:24px;
}
#steps form .field-wrap-flexible input.button-stretchy-red:hover {
    background:#818dc3;
    color:#fff;
    text-shadow:1px 1px 1px #777;
  height:24px;
}

.custom-fields-ll h2.colour-green {color:#0094c9; font-size:17px;}
.custom-fields-ll h3 {    line-height:26px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight: normal;
  font-size:13px;}

#steps form .field-wrap-flexible #comments, #steps form .field-wrap-flexible #short_desc{
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    float:left;
  width:98%;
  height:200px;
}


#finder_fee, #finder_fee_unit, #price_rent, #currency, #price_rent2, #currency2, #renewal_fee, #renewal_curency, .field-wrap #td_man1 #management_fee, .field-wrap #td_man2 #management_fee_unit{
  width:101px;
}

#let_type,
#service_type,
#furniture,
#category,
#pets,
#smoking,
#property_type,
#country
{
width:219px;
}

#available,
#property_no,
#property_name,
#add1,
#add2,
#county,
#town,
#sub_region
{padding:5px; width:209px;}

.csf-wrapper p select.form-add-dropdown-368 {width: 219px;}

.csf-wrapper p input.form-add-textfield-368 {width: 209px; padding:5px;}


#steps form .field-wrap-flexible #from_value,
#steps form .field-wrap-flexible #value {width: 88px;}

#steps form .field-wrap #landlord_name, #steps form .field-wrap #solicitor_name, #steps form .field-wrap #insurance_company_name {background-image:url(../image/icons16px/binoculars2.png); background-repeat:no-repeat; background-position: right 4px; width: 179px; padding-right:30px;}


#steps form .field-wrap-flexible input.button-big-red {width: 120px;}

#steps form .field-wrap-flexible input.form-add-lookup-field-368 {background-image:url(../image/icons16px/binoculars2.png); background-repeat:no-repeat; background-position: right 4px; padding-right:30px;}


/* Created as a simple wrapper without controlling styles of inputs etc. by default */

.field-wrap-flexible-generic{
    float:left;
    clear:both;
    margin:5px 0px;
    background-color:#f4f4f4;
    border:1px solid #fff;
  min-width:637px;
    padding:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  font-size:13px;
  color:#666;
}
.field-wrap-flexible-generic a{color:#666;}
#steps form .field-wrap-flexible-generic label{
    width:160px;
    float:left;
    text-align:right;
    margin-right:15px;
    line-height:26px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight: normal;
  font-size:13px;
}

/* AS FLEXIBLE GENERIC BUT WITHOUT LABEL STYLING */

.field-wrap-flexible-simple {float:left; clear:both; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; font-size:13px; color:#666; padding:5px; width: 637px; background-color:#f4f4f4; margin:5px 0px;}


/* Error message wrapper */

.field-wrap-error-message{
    float:left;
    clear:both;
    margin:5px 0px;
    border:1px solid #fff;
  min-width:637px;
    padding:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  font-size:13px;
  color:#666;
}
.field-wrap-error-message a{color:#666;}

.field-wrap-backgroud-colour-2 {background-color: #e5e5e5;}

.tenant-types-tweak label {margin-left:4px;}

p.title-expand-link {width: 160px; text-align:right; float:left; margin-right:15px;}
td.title-expand-link-td-padding {padding:5px;}

#steps form .field-wrap-flexible textarea.form-add-textarea-368 {width: 99%;}

.page-wrapper #page-content-wrapper #right_content_div div .page-wrapper #page-content-wrapper .landlord-page-wrap #content #steps #propertyForm .standardTab .field-wrap-flexible-simple table tbody tr td div fieldset table {width: 100%;}
.page-wrapper #page-content-wrapper #right_content_div div .page-wrapper #page-content-wrapper .landlord-page-wrap #content #steps #propertyForm .standardTab .field-wrap-flexible-simple table tbody tr td .features-wrapper #features_div fieldset table tbody tr td {width: 50%;}



.page-wrapper #page-content-wrapper #right_content_div div .page-wrapper #page-content-wrapper .landlord-page-wrap #content #steps #propertyForm .standardTab .field-wrap-flexible-simple table tbody tr td div fieldset {border: 1px solid #dedede; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}

.features-wrapper {max-height: 270px; overflow:scroll;}


.custom-search-fields p {}
.custom-search-fields h3 {color:#666; text-shadow:1px 1px 1px #fff; font-weight: normal; font-size:13px; margin:0; padding:0 0 5px 0;}


.ui-sortable li {background: rgb(229, 229, 229); background: rgba(229, 229, 229, .7); cursor:move;
}
.required{color:red;}


.field-wrap-flexible fieldset {
  padding: 15px !important;
  border:1px solid #B3E7A7 !important;
}

.custom-fields-ll h3, 
.custom-fields-ll p {
  padding-bottom: 5px;
}
