<section class="masthead-section" style="background-image: url('image/blur_20.jpg');">
  <div class="container">
    <h1 class="overview-title">Selling your home with Andrew Hayward</h1>
    <div class="overview-content">
      <h2>Experts in selling London property</h2>
      <ul>
        <li><i class="price"></i>Best possible price in the shortest possible time</li>
        <li><i class="award"></i>Award winning estate agent</li>
        <li><i class="house"></i>11,600 registered buyers looking now</li>
      </ul>
      <a href="">Free valuation service</a>
    </div>
  </div>
</section>
<section class="content-section">
  <div class="container">
    <section class="top">
      <div class="content">
        <h2>We pride ourselves on getting you the best possible price, in the shortest possible time.</h2>
        <section class="details">
          <div class="box">
            <h4>What's my home worth?</h4>
            <h6>FREE VALUATION SERVICE</h6>
            <p>Ready to sell? Or just curious?</p>
            <p>Call <b><span class="telephone">0800 369 8667</span></b> between 8am-8pm, 7 days a week.</p>
            <form action="">
              <div class="box-border">
                <h5>Enter your postcode</h5>
                <p>Do we cover your area?</p>
                <input type="text">
              </div>
              <input type="submit" value="Submit">
              <p class="call">or call <span class="telephone">0800 369 8667</span></p>
            </form>
          </div>
          <div class="box">
            <h4>Why use Andrew Hayward Estates?</h4>
            <h6>FIND OUT WHAT MAKES US DIFFERENT</h6>
            <p>We work hard to sell your home for the best possible price, in the shortest possible time.</p>
            <ul>
              <li><i class="tenants"></i>Thousands of buyers already registered</li>
              <li><i class="alerts"></i>Open longer for viewings - evenings & weekends</li>
              <li><i class="presentation"></i>Exceptional property presentation</li>
              <li><i class="certificates"></i>Global award-winning website</li>
              <li><i class="deposit"></i>Property Ombudsman member</li>
              <li><i class="statements"></i>Free, no-obligation valuation</li>
            </ul>
            <a href="" class="moreinfo">More Info</a>
            <p class="contactus">or <a href="/help/contact.html">contact us</a></p>
          </div>
        </section>
        <a href="">What makes Andrew Hayward Estates the best choice for selling your home?</a>
      </div>
      <aside>
        <section>
          <a href="">Selling</a>
          <ul>
            <li>
              <a href="">Sell your home</a>
            </li>
            <li>
              <a href="">Why use Andrew Hayward Estates?</a>
            </li>
            <li>
              <a href="">Fees & terms</a>
            </li>
            <li>
              <a href="">Feedback from other sellers</a>
            </li>
          </ul>
        </section>
        <section>
          <a href="">Help for sellers</a>
          <ul>
            <li>
              <a href="">Step-by-step guide to selling</a>
            </li>
            <li>
              <a href="">FAQs</a>
            </li>
            <li>
              <a href="">Mortgages</a>
            </li>
            <li>
              <a href="">Conveyancing</a>
            </li>
            <li>
              <a href="">Protection against Property Fraud</a>
            </li>
          </ul>
        </section>
        <section>
          <a href="">Market intelligence</a>
          <ul>
            <li>
              <a href="">Free property valuation</a>
            </li>
            <li>
              <a href="">Sold prices by area</a>
            </li>
            <li>
              <a href="">Current properties for sale</a>
            </li>
          </ul>
        </section>
      </aside>
    </section>
    <section class="bottom">
      <h6>Call <span class="telephone">0800 369 8667</span> for further information about selling your home, or to <a rel="nofollow" href="/valuation/seller/request/sell/bottom/text/how-much-property-worth.html">find out how much your property is worth</a></h6>
      <a href="">Arrange a valuation</a>
    </section>
  </div>
</section>
<section class="info-section">
  <div class="container">
    <h3>"I am grateful to Andrew Hayward Estates for their excellent work and help with the sale of my property. They worked hard and ensured that I was kept updated all the time, going out of the way to help with the sale."</h3>
    <p>Vikram</p>
  </div>
</section>