<section class="slider-section">
    <div id="slider">
        <div class="slide">
            <img src="/resources/views/image/slider-image.jpg">
            <section class="masthead-section">
                <div class="container">
                    <h1 class="overview-title">Selling your home with Andrew Hayward</h1>
                    <div class="overview-content">
                        <h2>Experts in selling London property</h2>
                        <ul>
                            <li><i class="price"></i>Best possible price in the shortest possible time</li>
                            <li><i class="award"></i>Award winning estate agent</li>
                            <li><i class="house"></i>11,600 registered buyers looking now</li>
                        </ul>
                        <a href="">Free valuation service</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="slide">
            <img src="/resources/views/image/slider-image2.jpg">
            <section class="masthead-section">
                <div class="container">
                    <h1 class="overview-title">Selling your home with Andrew Hayward</h1>
                    <div class="overview-content">
                        <h2>Experts in selling London property</h2>
                        <ul>
                            <li><i class="price"></i>Best possible price in the shortest possible time</li>
                            <li><i class="award"></i>Award winning estate agent</li>
                            <li><i class="house"></i>11,600 registered buyers looking now</li>
                        </ul>
                        <a href="">Free valuation service</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="slide">
            <img src="/resources/views/image/slider-image3.jpg">
            <section class="masthead-section">
                <div class="container">
                    <h1 class="overview-title">Selling your home with Andrew Hayward</h1>
                    <div class="overview-content">
                        <h2>Experts in selling London property</h2>
                        <ul>
                            <li><i class="price"></i>Best possible price in the shortest possible time</li>
                            <li><i class="award"></i>Award winning estate agent</li>
                            <li><i class="house"></i>11,600 registered buyers looking now</li>
                        </ul>
                        <a href="">Free valuation service</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<section class="search-section">
    <div class="container">
        <div id="search_card">
            <h2>Find your new home</h2>
            <ul id="search_types">
                <li id="search_location" class="selected">
                    <a href="" style="background-image: url('/resources/views/image/search.png');">Location</a>
                </li>
                <li id="search_map">
                    <a href="" style="background-image: url('/resources/views/image/map.png');">Map</a>
                </li>
                <li id="search_nearme">
                    <a href="" style="background-image: url('/resources/views/image/nearme.png');">Near Me</a>
                </li>
                <li id="search_draw">
                    <a href="" style="background-image: url('/resources/views/image/draw.png');">Draw</a>
                </li>
                <li id="search_traveltime">
                    <a href="" style="background-image: url('/resources/views/image/traveltime.png');">Travel Time</a>
                </li>
                <li id="search_station">
                    <a href="" style="background-image: url('/resources/views/image/station.png');">Station</a>
                </li>
                <li id="search_school">
                    <a href="" style="background-image: url('/resources/views/image/school.png');">School</a>
                </li>
            </ul>
            <div id="search_form_wrapper">
                <form action="">
                    <fieldset class="hidden"></fieldset>
                    <fieldset>
                        <div id="search_keyword_holder">
                            <div id="search_type_selector">
                                <a href="" id="search_type_selected">Buy</a>
                                <div>
                                    <a href="">Buy</a>
                                    <a href="">Long let</a>
                                    <a href="">Short let</a>
                                    <a href="" id="search_type_sold">Sold</a>
                                </div>
                            </div>
                            <input type="text" id="search_keyword_value" placeholder="e.g. W4 or Brixton">
                            <input type="submit" id="search_submit" value="">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="history-section">
    <div class="container">
        <h3>Latest properties</h3>

        <select name="pets" class="form-add-dropdown-180" id="pets" ng-model="pets">
            <option value="1">Yes</option>
            <option value="2" selected="">No</option>
        </select>
                                      
        <ul>
            <li>
                <a href="">
                    <img src="/resources/views/image/chpk3428119-1.jpg" alt="">
                    <div>
                        <h5>Herbrand Street, WC1N</h5>
                        <p>1 bedroom flat for sale for <span class="formatPrice">£585,000</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/resources/views/image/chpk3859097-1.jpg" alt="">
                    <div>
                        <h5>Connaught Heights, E16</h5>
                        <p>1 bedroom flat for sale for <span class="formatPrice">£385,000</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/resources/views/image/chpk4060620-1.jpg" alt="">
                    <div>
                        <h5>Meadowview Road, SE6</h5>
                        <p>2 bedroom maisonette for sale for <span class="formatPrice">£300,000</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="/resources/views/image/chpk4330585-1.jpg" alt="">
                    <div>
                        <h5>Salford Road, SW2</h5>
                        <p>2 bedroom flat for sale for <span class="formatPrice">£599,950</span></p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<section class="pullquote-section">
    <div class="container">
        <p>"I am grateful to Andrew Hayward Estates for their excellent work and help with the sale of my property. They worked hard and ensured that I was kept updated all the time, going out of the way to help with the sale."</p>
        <h5>Kind words from Vikram</h5>
        <a href="">More reviews</a>
    </div>
</section>
<section class="feature-section">
    <div class="block" style="background-image: url('/resources/views/image/iphone_app_interiors3.jpg');">
        <div class="inner">
            <h1>You're in safe hands</h1>
            <p>We are a voluntary member of the key governing bodies, abiding by the <a href="/foxtons/about/regulatory-bodies.html">strictest codes of practice</a></p>
            <p>We also believe in <a href="/help/fees/">fee transparency</a>, helping you make informed decisions with no last minute surprises.</p>
            <a href="" class="link">Read More</a>
        </div>
    </div>
    <div class="block" style="background-image: url('/resources/views/image/barnet.jpg');">
        <div class="inner">
            <h1>Open later</h1>
            <p>38% of our viewings taking place during evenings and weekends.</p>
            <a href="" class="link">Contact Us</a>
        </div>
    </div>
</section>
<section class="homeworth-section">
    <div class="container">
        <h1>How much is your home worth?</h1>
        <p>We offer a free, no-obligation property valuation service to all homes in London & Surrey</p>
        <p><i>Extended? Renovated? Remortgaging? Considering selling later? Or just curious?</i></p>
        <p>We understand that getting an update on your<a rel="nofollow" href="/valuation/seller/request/home/section/base/text/property-value.html">property's value</a> or <a rel="nofollow" href="/valuation/landlord/request/home/section/base/text/rental-potential.html">rental potential</a> can help you make better informed long-term decisions.</p>
        <a href="" class="interested">Interested</a>
    </div>
</section>