@font-face {
    font-family: 'museo_slab_500regular';
    src: url('../font/museo_slab-webfont.eot');
    src: url('../font/museo_slab-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/museo_slab-webfont.woff') format('woff'),
         url('../font/museo_slab-webfont.ttf') format('truetype'),
         url('../font/museo_slab-webfont.svg#museo_slab_500regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans-regular-webfont.eot');
    src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-regular-webfont.woff') format('woff'),
         url('../font/opensans-regular-webfont.ttf') format('truetype'),
         url('../font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../font/opensans-semibold-webfont.eot');
    src: url('../font/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-semibold-webfont.woff') format('woff'),
         url('../font/opensans-semibold-webfont.ttf') format('truetype'),
         url('../font/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}