.content-section {
	padding: 20px 0;
	position: relative;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	&:after, &:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: 20px;
		margin-left: -20px;
	}
	&:before {
		border-color: rgba(204, 204, 204, 0);
		border-top-color: #ccc;
		border-width: 21px;
		margin-left: -21px;
	}
	.top {
		border-bottom: 1px solid #f0f0f0;
	}
	.content {
		width: calc(100% - 300px);
		float: left;
		margin-bottom: 20px;
		@media (max-width: 900px) {
			width: calc(100% - 250px);
		}
		@media (max-width: 767px) {
			width: 100%;
		}
		> a {
			color: #7f2624;
			font-size: 12px;
			font-family: 'open_sansregular';
			text-decoration: underline;
		}
	}
	h2 {
		color: #000;
		font-family: 'open_sansregular';
		font-size: 17px;
		margin-bottom: 20px;
	}
	.details {
		display: -webkit-flex;
		display: flex;
		margin-bottom: 30px;
		@media (max-width: 600px) {
			display: block;
		}
		.box {
			float: left;
			width: 49%;
			margin-right: 2%;
			border: 1px solid #e8e8e8;
			padding: 20px;
			&:last-child {
				margin-right: 0;
			}
			@media (max-width: 600px) {
				width: 100%;
				margin-right: 0;
			}
			h4 {
				color: #7f2624;
				font-family: 'open_sansregular';
				font-size: 2em;
				margin-bottom: 12px;
			}
			h6 {
				color: #c03a37;
				font-family: 'open_sansregular';
				font-size: 16px;
				margin-bottom: 12px;
			}
			p {
				color: #000;
				font-family: 'open_sansregular';
				font-size: 12px;
				margin-bottom: 24px;
			}
			.box-border {
				background-color: #f5f5f5;
				border: 1px solid #e8e8e8;
				text-align: center;
				padding: 10px;
				position: relative;
				margin-bottom: 40px;
				&:after, &:before {
					top: 100%;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}
				&:after {
					border-color: rgba(245, 245, 245, 0);
					border-top-color: #f5f5f5;
					border-width: 20px;
					margin-left: -20px;
				}
				&:before {
					border-color: rgba(232, 232, 232, 0);
					border-top-color: #e8e8e8;
					border-width: 21px;
					margin-left: -21px;
				}
				h5 {
					color: #7f2624;
					font-family: 'open_sansregular';
					font-size: 1.8em;
					margin-bottom: 12px;
				}
				input[type='text'] {
					border: 1px solid #dcdcdc;
					@include border-radius(2px);
					width: 160px;
					font-size: 30px;
					text-align: center;
				}
			}
			input[type='submit'] {
				display: table;
				margin: 0 auto 6px;
				padding: 5px 30px;
				background-color: #fff000;
				color: #000;
				border: 1px solid #dcdcdc;
				font-size: 15px;
				font-family: 'open_sanssemibold';
				text-transform: uppercase;
				cursor: pointer;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
				&:hover {
					color: #7f2624;
					background-color: #ffeb37;
				}
			}
			.call {
				text-align: center;
				margin-bottom: 0;
			}
			li {
				font-size: 12px;
				font-family: 'open_sanssemibold';
				color: #000;
				margin-bottom: 20px;
				padding-left: 32px;
				position: relative;
				i {
					width: 22px;
					height: 22px;
					position: absolute;
					left: 0;
					top: 0;
					background-repeat: no-repeat;
					background-image: url('../image/icons-2.png');
				}
				.tenants {
					background-position: left top -160px;
				}
				.alerts {
					background-position: left top -121px;
				}
				.presentation {
					background-position: left top -279px;
				}
				.certificates {
					background-position: left top -200px;
				}
				.deposit {
					background-position: left top -240px;
				}
				.statements {
					background-position: left top 0;
				}
			}
			.moreinfo {
				display: table;
				margin: 0 auto 6px;
				color: #fff;
				background-color: #7f2624;
				font-size: 14px;
				font-family: 'open_sanssemibold';
				padding: 5px 12px;
				text-transform: uppercase;
				-webkit-transition: background-color 0.3s ease;
				-moz-transition: background-color 0.3s ease;
				-o-transition: background-color 0.3s ease;
				transition: background-color 0.3s ease;
				&:hover {
					background-color: #c03a37;
				}
			}
			.contactus {
				text-align: center;
				margin-bottom: 0;
				a {
					color: #7f2624;
					text-decoration: underline;
				}
			}
		}
	}
	aside {
		width: 300px;
		float: right;
		padding-left: 40px;
		@media (max-width: 900px) {
			width: 250px;
		}
		@media (max-width: 767px) {
			width: 100%;
			padding-left: 0;
		}
		> section {
			margin-bottom: 35px;
			> a {
				color: #7f2624;
				font-size: 2em;
				font-family: 'open_sansregular';
				margin-bottom: 12px;
				display: table;
				&:hover {
					text-decoration: underline;
				}

			}
			li {
				border-top: 1px solid #ddd;
				&:last-child {
					border-bottom: 1px solid #ddd;
				}
				a {
					color: #666666;
					font-size: 13px;
					font-family: 'open_sansregular';
					padding: 12px 0;
					display: table;
					&:hover {
						color: #7f2624;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.bottom {
		padding-top: 25px;
		h6 {
			color: #7f2624;
			font-size: 13px;
			font-family: 'open_sansregular';
			float: left;
			margin-bottom: 10px;
			> a {
				color: #7f2624;
				text-decoration: underline;
			}
		}
		> a {
			color: #fff;
			background-color: #7f2624;
			padding: 5px 12px;
			font-family: 'open_sanssemibold';
			font-size: 14px;
			text-transform: uppercase;
			float: right;
			display: block;
			transition: background-color 0.3s ease;
			&:hover {
				background-color: #c03a37;
			}
		}
	}
}
.info-section {
	padding: 40px 0;
	background-color: #000;
	h3 {
		color: #fff;
		font-size: 2.5em;
		font-family: 'open_sansregular';
		margin-bottom: 10px;
	}
	p {
		color: #666666;
		font-size: 12px;
		font-family: 'open_sansregular';
		text-align: center;
	}
}