name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, bcmath, intl, pdo_mysql
          coverage: none
      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-interaction --no-scripts

      - name: Run tests
        run: php vendor/phpunit/phpunit/phpunit --testdox
